.common{
    /* margin-top: 10em; */
    margin-left: 16em;
}

.common2{
    margin-left: 11em;
}
.common3{
    margin-left: 50em;
}

.common4{
    margin-left: 14em;
}

h1{
    font-size: xx-large;
}

.photo{
    width: 30px;
    height: 30px;
}